*{
    padding: 0;
    margin: 0;
    /* reset css */
}
html{
    width:100%;
    height:100%;
    font-family: 'Montserrat', sans-serif;

}
/* >1050px */
@media screen and (min-width:1050px){

    #myLinks{
        display: block !important;
        z-index:10;
    }
    nav li{
        color:black;
        margin-left:5%;
        margin-right:5%;
        font-size:20px;
        padding-bottom:8px;
        display: inline-block;
        text-align:center;
    }
    nav{
        width: 100%;
        background:white;
        position: fixed;
        top: 0;
    }

    .icon{
        display:none;
    }


}

nav a{
    text-decoration:none;
    color:black;
}
a{
    color:rgb(250, 187, 105);
}
nav a :hover{
    color:rgb(250, 187, 105);
}
ul :hover{
    color:rgb(250, 187, 105);
}

.background{
    background: url("food.jpg");
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    max-width:auto;
    height:1000px;
    font-size: 35px;
    color: white;
    text-align: center;
}
.first{
    background-color: white;
    height:750px;
}
.first p{
    max-width: 230px;
color:white;
font-size:20px;
display:block;
/* transform:translate(20%,-500%); */
line-height:1.2em;
padding-left:3%;
z-index:4;
}
.first h2{
    color:white;
    font-size:40px;
    display:block;
    position: relative;
    /* transform:translate(2%,-1400%); */
    padding-top:180px;
    padding-left:3%;
    margin-bottom:2%;
    z-index:4;
    }

.meal{
    background: url("perfect_meal.jpg") no-repeat;
    background-color:#262E31;
    background-attachment:fixed;
    max-width:100%;
    background-position:right;
    height:750px;
    margin:auto;
}
.ai{
    background: url("recipe.jpg") no-repeat;
    background-attachment:fixed;
    width:100%;
    height:750px;
}
.ai{
    background-color:rgb(39, 36, 39);
    height:750px;
    font-size:20px;
    color:white;
    text-align:right;
}
.ai h2{
    font-size: 50px;
    text-align: right;
    margin-top: 90px;
    margin-right: 90px;
    padding-top:170px;
    padding-right: 50px;
}
.ai p{
    margin-right: 120px;
    padding-right:30px;
    padding-top:10px;
}
.shop{
    background: url("grocery.jpg") no-repeat;
    background-attachment:fixed;
    background-position:center;
    margin:20px;
    width:100%;
    height:750px;
}
.shop p{
    font-size: 30px;
    text-align:center;
    color:white;
    margin:70px;
    display:block;
    padding-left:32%;
    padding-right:32%;
    
}
.shop h2{
    margin:80px;
    padding-top:220px;
    text-align:center;
    color:white;
    font-size:50px;
}
/* recipe page */
.recipe{
    background: url("drink.jpg") no-repeat;
    background-attachment:fixed;
    background-color:white;
    background-position:left;
    padding:20px;
    width:100%;
    height:1550px;
    margin:0;
}
.recipe h3{
    font-size:30px;
    margin-top:10%;
    margin-right:7.5%;
    text-align:right;
}
#instruction p{
    font-size:15px;
    width: 500px;
    text-align:justify;
    margin:10px;
    margin-left:60%;
}
iframe{
    width:720px;
    height:480px;
    margin-left:54.5%;
    margin-top:10%;
    margin-bottom:5%;
}
.recipe p{
 text-align:right;
 margin-right:70px;
 font-size:20px;
}
.recipe h2{
    margin-top:130px;
    padding-top:250px;
    text-align:right;
    margin-right:70px;
    font-size:50px;
}
footer{
    margin-top:720px;
}
.recipe footer h3,h4{
    font-size:25px;
    margin:50px;
    text-align:right;
}
.titleline{
    font-size: 50px;
    color: white;
    text-align: center;
    transform: translate(0,250%);
}


#myLinks{
    margin: auto;

}


/* <1050px */
@media screen and (max-width:1050px){
    a{
        color:white;
    }
/* Style the navigation menu */
.background{
    width:auto;
    height:600px;
}
.titleline{
    font-size:35px;

}
nav a {
    overflow: hidden;
    background-color:white;
    position: relative;
    
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
#myLinks{
    display: none;
    
  }
  
  /* Style navigation menu links */
nav li {
    color: black;
    padding: 14px 16px;
    font-size: 17px;
    display: block;
    top:10px;
    text-decoration: none;

    
  }
  
  /* Style the hamburger menu */
 .icon {
    background: white;
    color:black;
    display: block;
    /* position: absolute; */
    font-size: 30px;
    left: 10px;
    top: 0;
  }
  .myLink li{
    color:black;

  }
  /* Add a grey background color on mouse-over */

  .recipe footer h3,h4{
    color:white;
}
.recipe a{
    color:white;
}
.recipe p,h2{
    color:white;
}
.shop p {
    padding:0;

}


/* about page */
}
.mainpage span{
    margin-top:60px;
}
.mainpage h1{
    color:rgb(250, 187, 105);
    font-size:30px;
    line-height:2em;
    font-size: 50px;
    margin-top:20px;
    text-align: center;
    
}

.mainpage p{
    color:rgb(88,88,88);
    font-size:30px;
    line-height:2em;
    font-size: 20px;
    text-align: center;
    margin-bottom:20px;
    
}
.about img{
    display:inline-block;
    max-width:100%;
    max-height:850px;
    margin:20px;
    margin-left:10px;
    margin-top:10px;
}
.about{
    width:8700px;
}
/* perfect_meals */
.perfect_meals img{
    max-width: 20%;
    max-height:20%;
    margin:5%;
    margin-left:10%;
    display: grid;
}

.perfect_meals h1{
    color:rgb(88,88,88);
    font-size:40px;
    border-style: double;
    border-width:2px;
    line-height:2em;
    margin-top:120px;
    text-align: center;
}
.text p{
    display: inline-block;
    position: right;
    margin-left:40%;
    font-size:25px;
    text-transform: capitalize;
    text-align:center;

}
.text .lob{
    margin-top:-100%;
    float:right;
    margin-right:20%;
}
.text .steak{
    margin-top:-75%;
    float:right;
    margin-right:35%;
}
.text .potatos{
    margin-top:-50%;
    float:right;
    margin-right:20%;
}
.text .brownies{
    margin-top:-25%;
    float:right;
    margin-right:35%;
}
.text p:hover{
    color: rgb(250, 187, 105)
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
/* shop */
.shopping img{
    display:inline-grid;
    max-width:20%;
    max-height:20%;
    margin:30px;
}
 .shopping p{
    padding-top:20%;
    padding-bottom:20%;
    padding-left:15%;
    text-transform: capitalize;
    font-size:50px;
    color:white;
    background: url("grocery_store.jpg");
    background-attachment: fixed;
}
.shopping .one{
    margin-top:5%;
    margin-left:20%;
}
.shopping .two{
    margin-left:20%;
}
.shopping h1{
    text-align:center;
    display:block;
    font-size:40px;
    margin-top:10%;
}
#cart{
    padding:40%;
    padding-bottom:10%;
    padding-top:60%;
    text-transform: capitalize;
    font-size:40px;
}
  
 #draggable {
    background: url(egg.png);
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    white-space: nowrap;
    text-align: center;
    cursor: move;
  }
  #draggable1 {
    background: url(strawberry.png);
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    white-space: nowrap;
    text-align: center;
    cursor: move;
  }
  #draggable2 {
    background: url(meattt.png);
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    white-space: nowrap;
    text-align: center;
    cursor: move;
  }
  #draggable3 {
    background: url(rice.png);
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    white-space: nowrap;
    text-align: center;
    cursor: move;
  }
  #draggable4 {
    background: url(bean.png);
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    white-space: nowrap;
    text-align: center;
    cursor: move;
  }
  #draggable5 {
    background: url(carrot.png);
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    white-space: nowrap;
    text-align: center;
    cursor: move;
  }
  .Ai_equation{
      display:block;
      position:fixed;
      padding-left:100px;
      font-size:80px;
  }
  .Ai_equation p{
      font-size:200px;
      margin-left:10%;
      margin-bottom:7%;
  }
.Ai_equation a{
    font-size:60px;
    margin:100px;
}
.Ai_equation{  
    color:black;
    animation-name: blink1;
    animation-duration: 7s;
}
.Ai_equation a{  
    color:black;
    animation-name: blink1;
    animation-duration: 7s;
}
@keyframes blink1 {
    from {color: black;}
    to {color: rgb(250, 187, 105);}
  }


